.quizz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.quizz-question-container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 80%;
    margin: 10px 0px;
    background-color: rgba(236, 200, 200, 0.11);
    border-radius: 20px;
}

.disabled{
    opacity: 0.9;
    pointer-events: none;
}


.btn-option{
    width: 80%;
    text-align: start;
    color: antiquewhite;
    background-color: #4422a1da;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px 0px 15px 15px;
    font-size: 16px;
    margin-left: 30px;
    margin-top:8px;
    cursor: pointer;
}

.btn-option:hover{
    background-color:  #3e0ec2;
}

.selected {
    border: 3px dashed white;
    pointer-events: none;
}

.correta{
    background-color: green;
}

.incorreta{
    background-color: crimson;
}

.quizz-results{
    margin-left: 20px;
}

.quizz-questions, .quizz-options , .quizz-results{
    margin: 10px 0px;
}