.home-container{
    width: 80%;
    margin: auto;
    margin-top:20px;
}

.quizz-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizz-logo-title{
    margin: 20px 0px;
    font-size: 3em;
}
